:root {
    --cor-header: #303A42;
}
*{
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
}
.header {
    height: 10vh;
    display: flex;
    background-color: var(--cor-header);
}
.header img {
    max-width: 100%; 
    max-height: 100%;
    height: auto; 
    width: auto;
}
.main {
    height: 100%;
}
