:root {
    --cor-header: #0c1014;
    --cor-fundo: #1C252F;
    --cor-main: #111D2B;
    --cor-letra: white;
}
*{
    padding: 0;
    margin: 0;
    color: var(--cor-letra);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    width: 100%;
}
.header {
    height: 10vh;
    display: flex;
    background-color: var(--cor-header);
    width: 100%;
}
.header img {
    max-width: 100%; 
    max-height: 100%;
    height: auto; 
    width: auto;
}
.main{
    text-align: center;
    background-color: var(--cor-main);
    margin: 0 auto;
    height: auto;
    min-height: 90vh;
    width: 70%;
    padding: 2em;
}
.materias{
    min-height: 250px;
}
img{
    overflow-y: hidden;
}
#materias {
    min-height: 350px;
}
input{
    color: black
}
/* responsividade*/
@media screen and (max-width:1400px){
}
@media screen and (max-width:1200px){
}
@media screen and (max-width:992px){
}
@media screen and (max-width:767px){
}
@media screen and (max-width:576px){
    .materias {
        width: 50%;
    }
    .main-index {
        width: 100%;
    }  
}
@media screen and (max-width:400px){
}
