:root {
    --cor-header: #0c1014;
    --cor-fundo: #1C252F;
    --cor-main: #111D2B;
    --cor-letra: white;
}
*{
    padding: 0;
    margin: 0;
    color: var(--cor-letra);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor-fundo);
    width: 100%;
}
.header {
    height: 10vh;
    display: flex;
    background-color: var(--cor-header);
    width: 100%;
    justify-content: space-between;
    padding-inline-end: 2em;
    align-items: center;
}
.header img {
    max-width: 30%; 
    max-height: 100%;
    height: auto; 
    width: auto;
}
.buttonProfile{
    background-color: transparent;
    border: none;
    font-size: 30px;
}
.main{
    text-align: center;
    background-color: var(--cor-main);
    flex: 1;
    padding-top: 2em;
    padding-bottom: 2em;
}
.materias{
    min-height: 250px;
}
img{
    overflow-y: hidden;
}
#materias {
    height: auto;       
    display: flex;      
    flex-wrap: wrap;
}
input{
    max-width: 200px;
    color: black
}
.hrcards {
    display: none;
}
.login{
    background-color: var(--cor-header);
    border-radius: 20px;
}

/* responsividade*/
@media screen and (max-width:1400px){
}
@media screen and (max-width:1200px){
    .hrcards {
        display: block;
    }
}
@media screen and (max-width:992px){
    .header img {
        max-width: 36%; 
    }
}
@media screen and (max-width:767px){
    .materias {
        max-width: 40%;
    }
}
@media screen and (max-width:576px){
    .hrcards {
        display: none;
    }
    .materias {
        max-width: 70%;
    }
    .main {
        width: 100%;
    }  
    .header img {
        max-width: 56%; 
    }
}
@media screen and (max-width:400px){
}
